# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Xcode automatic backup files
*.moved-aside
*.xcuserstate

# IDEs
.idea/
*.iml

# Output
*.log

# SwiftPM binary artifacts
Artifacts/

# SwiftLint cache
.swiftlint.yml
.swiftlint.json
.swiftlint.cache
